@import '~antd/dist/antd.css';

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(194, 19, 19, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}

.ant-table-tbody > tr > td {
  height: 50px;
  padding: 4px;
}